./azure-postgres-terraform/.terraform/
./azure-postgres-terraform/.terraform/*
./azure-postgres-terraform/terraform.tfstate.backup
./azure-postgres-terraform/terraform.tfstate
./azure-postgres-terraform/.terraform.lock.hcl